<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7.css"/>
	</head>
	<body>
		<div id="app" style="width: 800px;margin: 25px auto;">
			<!--上部-->
			<div>
				<div class="form-group">
					<label>朝代:</label>
					<select v-model="comment.country">
						<option v-for="(item,index) in countries" :key="index">{{item}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>男</label><input type="radio" value="男" v-model="comment.sex" id="sex" name="sex" style="margin-right: 20px;">
					<label>女</label><input type="radio" value="女" v-model="comment.sex" id="sex" name="sex" style="margin-bottom: 20px;">
				</div>
				<div class="form-group">
					<label>评论人:</label>
					<input type="text" class="form-control" v-model="comment.user">
				</div>
				<div class="form-group">
					<label>评论内容:</label>
					<textarea type="text" class="form-control" v-model="comment.content"></textarea>
				</div>
				<div class="form-group">
					<input type="button" value="发表评论" @click="postComment" class="btn btn-primary" />
				</div>
			</div>
			<!--上部-->
			<!--下部-->
			<div class="form-inline">
				<!--搜索框-->
				<input type="text" class="form-control" v-model="nameKey" placeholder="请输入名字...">
				<!--下拉列表-->
				朝代:
				<select v-model="selectContry">
					<option value="" selected="selected">全部</option>	<!-- selected:初始值 -->
					<option v-for="(item,index) in contryList" :key="index">
						{{item}}
					</option>
				</select>
				性别:
				<select v-model="sexKey">
					<option value ="" selected="selected">全部</option>
					<option v-for="(item,index) in sexList" :key="index">
						{{item}}
					</option>
				</select>
			</div>
			<!--所有的评论内容-->
			<ul class="list-group">
				<li class="list-group-item" v-for="(item,index) in AllList">
					<span class="badge">朝代:{{item.country}}</span>
					<span class="badge">评论人:{{item.user}}</span>
					<span class="badge">性别:{{item.sex}}</span>
					<button type="button" class="btn btn-primary" @click="delComment(index)">删除</button>
					{{item.content}}
				</li>
			</ul>
			<!--下部-->
		</div>
	</body>
</html>
<script src="js/vue-2.4.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var vm = new Vue({		//创建Vue实例
		el:'#app',
		data:{
			//所有的朝代
			countries:["现代","唐朝","宋朝","元朝","明朝","清朝"],
			list:[
				{id:Date.now(),user:"李白",sex:"男",content:"天生我才必有用",country:"唐朝"},
				{id:Date.now(),user:"王维",sex:"男",content:"嘿嘿嘿",country:"唐朝"},
				{id:Date.now(),user:"蔡徐坤",sex:"女",content:"鸡你太美",country:"现代"}
			],
			comment:{id:"",user:"",sex:"",content:"",country:"现代"},
			nameKey:"",
			selectContry:"",
			sexList:["男","女"],
			sexKey:""
		},
		methods:{
			postComment(){				
				this.list.unshift(this.comment)		//添加数据
				this.comment = {id:"",user:"",sex:"",content:"",country:"现代"}
			},
			delComment(index){
				if(confirm("确认删除?")){
					this.list.splice(index,1)		//1 => 从这个下标删多少个元素
				}
			}
		},
		computed:{
			AllList(){		//查询
				var _this = this
				return _this.list.filter(n => n.user.includes(_this.nameKey) && n.country.includes(_this.selectContry) && n.sex.includes(_this.sexKey))
			},
			contryList(){		//查询评论里有的国家
				let clist = []
				this.list.forEach(n => {
					clist.push(n.country)
				})
				return Array.from(new Set(clist))		//让国家不重复
			}
		}
	})
</script>